<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bookster">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Bookster"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".RequestMessageActivity"></activity>
        <activity android:name=".MyBarterProductListActivity"></activity>
        <activity android:name=".EditProductActivity" />
        <activity android:name=".MyProductDetailsActivity" />
        <activity android:name=".Seller_info" />
        <activity android:name=".ConversationMessageActivity" />
        <activity android:name=".MyProductListActivity" />
        <activity android:name=".AddProductActivity" />
        <activity android:name=".Profile" />
        <activity android:name=".Login" />
        <activity android:name=".SignUp" />

        <activity android:name=".RequestActivity"/>
        <activity android:name=".ProductListActivity"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".MessageActivity" />
        <activity android:name=".ConversationChatActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProductDetailsActivity" />
    </application>

</manifest>